html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1b77a;
  color: #1b1b1b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(82, 79, 87, 0.849);
  border-bottom: 1px solid #1b1b1b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
